footer{
  min-width:1300px;
  background-color: #141414;
  color:#bcbcbc;
}
footer > .wrap{
  width:1100px;
  padding:80px 0;
  display:flex;
  justify-content: space-between;
  line-height:1.8;
}
footer .author h1{
  font-size: 16px;
  margin-bottom:20px;
  color:#f1f1f1;
}
footer .menu{
  display:flex;
}
footer .menu > ul{
  margin-left:70px;
}